maximum_availability_zones: 5

engine_version: '5.15.6'

publicly_accessable: false

hostname: amq

logging:
  audit: false
  general: false

users:
  - username: administrator
    ssm_path: /amazonmq/administrator
    console_access: true

ssm_custom_resources:
  custom_policies:
    ssm:
      action:
        - ssm:AddTagsToResource
        - ssm:DeleteParameter
        - ssm:PutParameter
        - ssm:GetParameters
      resource:
        - Fn::Sub: arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/*
  roles:
    SSMParameterCustomResource:
      policies_inline:
        - cloudwatch-logs
        - ssm
  functions:
    SSMSecureParameterCR:
      code: handler.py
      handler: handler.lambda_handler
      runtime: python3.7
      timeout: 5
      role: SSMParameterCustomResource
